cd-activity[type="piece-it-together"] {
  padding-top: 8em;
  position: relative;
  
  
  [piece] {
    box-shadow: 0 0 1px transparent; // This fixes rendering artifacts in Safari by expanding the area that is redrawn when we drag the piece
    &, * { cursor: pointer; }
    &:hover { opacity: 0.9; }
  }
  
  piece-panel {
    position: absolute;
    display: block;
    top: .33em;
    left: calc(50% - 50vw);
    width: 100vw;
    font-size: 3em; // Sets the size of the Good Job text
    height: calc(2em + 6px);
    background: hsl(209, 10%, 97%);
    border-top: 3px solid $blue;
    border-bottom: 3px solid $blue;
    
    &[message]:after {
      content: attr(message);
      position: absolute;
      left: 0;
      width: 100%;
      text-align: center;
      line-height: 2em;
      z-index: 10;
      color: hsl(142, 84%, 38%);
      animation: piece-it-together-fade-in .5s both;
    }
    
    .panelButton {
      cursor: pointer;
      visibility: hidden;
    }
  }
}

// These need to be out here, or you can't override the color in the HTML
[text] {
  padding: .5em 1em;
  border: 2px dashed $grey;
  text-align: center;
  background-color: $dark-white;
  border-radius: 8px;
}

[text][target] {
  padding: calc(.5em + 2px) calc(1em + 2px);
  border: 2px solid $silver;
  background-color: $grey;
  color: transparent;
  box-shadow: 0 2px 32px $smoke inset;
}

@keyframes piece-it-together-fade-in {
  from { opacity: 0;  transform: scale(0.70); }
  50%  { opacity: .5; transform: scale(1.10); }
  80%  { opacity: 1; transform:  scale(0.98); }
  to   { opacity: 1;  transform: scale(1.00); }
}
