cd-hud {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  padding: 0 .5em;
  color: white;
  background: url("cd-module-images/gears-mask.png"), hsl(235, 52%, 25%);
  background-size: 500px;
  z-index: 2000;
  
  // These negate the effect of the rules in html.scss
  @media (min-width: 900px) { font-size: .91em; }
  @media (min-width: 1200px) { font-size: .83em; }
  
  .cd-hud-lbs-brand {
    flex: 0 0 auto;
    width: 15em;
    opacity: .7;
    img { width: 2em; }
    span { font-size: .8em; }
  }
  
  .cd-hud-icon-spacer {
    flex: 0 0 auto;
    width: 15em;
  }
  
  .cd-hud-buttons {
    flex: 1 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    & > * {
      margin: 0 1em;
      animation: cd-hud-fade-in 1s both;
    }
    
    [cd-hud-button] {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0 .5em;
      height: 2.4em;
      border: currentColor 1px solid;
      text-decoration: none;
      color: $orange;
      background-color: $navy;
      box-shadow: 0 0 8px -4px inset;
      transition: background-color .2s, box-shadow .2s, color .2s, border .2s;
      cursor: pointer;
      
      $navy-dim: hsl(235,  60%, 19%);
      $navy-dark: hsl(240, 100%, 10%);
      &:hover { background-color: $navy-dim; box-shadow: 0 0 12px -4px inset; }
      &:focus, &:active { background-color: $navy-dark; box-shadow: 0 0 14px -4px inset; }
    }
  }
}

@keyframes cd-hud-fade-in {
  from { opacity: 0 }
  to   { opacity: 1 }
}
