cd-hud {
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
  color: white;
  
  & > * { margin: 1em; }
  
  [cd-hud-button] {
    display: inline-block;
    padding: .5em;
    border: currentColor 1px solid;
    text-decoration: none;
    color: $orange;
    background-color: $navy;
    box-shadow: 0 0 8px -4px inset;
    transition: background-color .2s, box-shadow .2s, color .2s, border .2s;
    cursor: pointer;
    
    $navy-dim: hsl(235,  60%, 19%);
    $navy-dark: hsl(240, 100%, 10%);
    &:hover { background-color: $navy-dim; box-shadow: 0 0 12px -4px inset; }
    &:focus, &:active { background-color: $navy-dark; box-shadow: 0 0 14px -4px inset; }
  }
}
