cd-hud {
  position: fixed;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  line-height: 2.9em;
  padding: 0 .5em;
  font-size: 16px;
  
  color: $white;
  background: linear-gradient(to right, hsl(228,  45%, 35%), hsl(221,  45%, 50%), hsl(228,  45%, 35%));
  box-shadow: 0 2px 8px rgba($navy, .4);
  z-index: 2000;
  
  // padding-right: 2.5vw; // Tweak to bring things closer to the center
  
  @media (max-width: 580px) { padding: 0; }
  
  & > *, .button {
    flex: 0 0 auto;
    margin: 0 2vw;
    animation: cd-hud-fade-in 1s both;
  }
  
  [cd-hud-button] {
    text-align: center;
    height: 2.1em;
    font-size: 0.95em;
    line-height: 2.1em;
    padding: 0 .5em;
    color: $white;
  }
}

@keyframes cd-hud-fade-in {
  from { opacity: 0 }
  to   { opacity: 1 }
}
