cd-activity[type="Et Tu, Q?"] {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  background: hsl(224, 45%, 95%);
  border-radius: 4px;
  
  .question {
    margin: 0 0 .8em;
    text-align: left;
    font-size: 1.1rem;
    font-weight: normal;
    color: $blue;
  }

  .subtitle {
    margin: 0 0 1em;
    font-size: .9em;
    color: $grey;
  }

  .answers[x-short] {
    display: flex;
    flex-flow: row wrap;
  }

  .answers[x-long] {
    display: block;
    label {
      margin: 6px 0;
    }
  }
  
  .answers {
    margin: -3px;
    margin-bottom: 1em;
    
    label {
      flex: 0 1 auto;
      display: flex;
      align-items: center;
      margin: 0;
      padding: .6em;
      margin: 3px;
      text-align: left;
      border: 1px solid hsl(220, 45%, 70%);
      border-radius: 4px;
      background: white;
      &:hover {
        background: hsl(0, 0%, 97%);
      }
      
      input {
        flex: 0 0 auto;
        margin-right: .5em;
      }
      
      span {
        flex: 1 1 auto;
        margin-left: .5em;
        margin-right: .3em;
      }
    }
  }
  
  button {
    border-radius: 4px;
  }
  
  &.complete {
    button {
      background-color: white;
      color: #2DD52D;
      border-color: transparent;
      cursor: default;
    }
    
    .answers input {
      cursor: default;
    }
    
    label {
      cursor: default;
      pointer-events: none;
    }
    
    label[x-incorrect] {
      opacity: 0.1;
    }
  }
}
