cd-activity[type="Et Tu, Q?"] {
  margin: 1em 0;
  
  .question {
    text-align: left;
  }

  .subtitle {
    font-size: .9em;
    margin-bottom: 1em;
  }

  .answers {
    font-size: .9em;

    label {
      display: block;
      margin: 1.2em 0 1.2em 1.5em;
      line-height: 1.424;
      text-indent: -1.6em;
    }

    input {
      position: relative;
      margin-right: .5em;
    }
  }
  
  button {
    border-radius: 4px;
  }
  
  &.complete {
    button {
      background-color: white;
      color: #2DD52D;
      border: none;
      cursor: default;
    }
    
    .answers input {
      cursor: default;
    }
    
    label {
      cursor: default;
    }
    
    label[x-incorrect] {
      opacity: 0.1;
    }
  }
}
