[focus-mode-controls] {
  position: relative;
  display: none;
  font-size: 16px;
  border-top: 1em solid $off-white;
  background-color: $off-white;

  a {
    position: absolute;
    top: 1em;
    left: calc(50% + 6em);
  }
}

body[focus-mode-overlay=true] {
  cd-page > * {
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 3px);
      outline: 3px solid $yellow;
    }

    &:hover::after {
      background-color: rgba($yellow, 0.2);
    }
  }
}

body[focus-mode] {

  // Make sure all pages, even the first one, show the border,
  // otherwise the focus-mode-controls looks weird when you focus-mode the first page in a module.
  cd-page {
    border-top: 1em solid $off-white;
  }

  cd-page,
  cd-page > * {
    display: none;
  }

  [focus-mode],
  [focus-mode] ~ *,
  [focus-mode] ~ cd-page > * {
    display: block;
  }

  #title {
    display: none;
  }

  [focus-mode-controls] {
    display: block;
  }
}
