body[focus-mode] {
  // Hide huds
  cd-hud {
    display: none;
  }
  
  // Hide non-focussed pages
  cd-page:not([focus-mode]) {
    display: none;
  }
  
  // Hide non-focussed children of focussed pages
  cd-page[focus-mode] > :not([focus-mode]) {
    display: none;
  }
  
  // Remove the excess padding above and below pages, so you can focus on the content
  cd-page[focus-mode] {
    padding: 1px 0;
  }
}
