<cd-legend cd-legend-hide cd-legend-hydraulic>
  <div>
    <div class="cd-legend-color cd-legend-vacuum-pressure"></div>
    <div class="cd-legend-name">Vacuum Pressure</div>
  </div>
  <div>
    <div class="cd-legend-color cd-legend-atmospheric-pressure"></div>
    <div class="cd-legend-name">Atmospheric Pressure</div>
  </div>
  <div>
    <div class="cd-legend-color cd-legend-low-pressure"></div>
    <div class="cd-legend-name">Low Pressure</div>
  </div>
  <div>
    <div class="cd-legend-color cd-legend-medium-pressure"></div>
    <div class="cd-legend-name">Medium Pressure</div>
  </div>
  <div>
    <div class="cd-legend-color cd-legend-high-pressure"></div>
    <div class="cd-legend-name">High Pressure</div>
  </div>
</cd-legend>

<cd-legend cd-legend-hide cd-legend-electrical>
  <div>
    <div class="cd-legend-color cd-legend-ground-voltage"></div>
    <div class="cd-legend-name">Ground/Common</div>
  </div>
  <div>
    <div class="cd-legend-color cd-legend-low-voltage"></div>
    <div class="cd-legend-name">Lowest Voltage</div>
  </div>
  <div>
    <div class="cd-legend-color cd-legend-medium-voltage"></div>
    <div class="cd-legend-name">Medium Voltage</div>
  </div>
  <div>
    <div class="cd-legend-color cd-legend-high-voltage"></div>
    <div class="cd-legend-name">Highest Voltage</div>
  </div>
  <div>
    <div class="cd-legend-color cd-legend-magnetic-field"></div>
    <div class="cd-legend-name">Magnetic Field</div>
  </div>
</cd-legend>
