[page-bg-glow] {
  position: absolute;
  width: 400px;
  height: 200px;
  background: radial-gradient(ellipse closest-side, $orange, rgba($orange, 0));
  transform: translate(-1000px);
  z-index: -1;
}

[page-bg-gears] {
  background: url("https://lunchboxsessions.s3.amazonaws.com/static/cd-module/gears-mask.png");
  background-size: 500px;
}
