score-display {
  display: block;
  
  * { cursor: pointer; }
  
  svg {
    width: 3em;
    height: 3em;
    transform: rotate(-90deg);
    transition: transform 1s;
  }
  
  [score-display-disk] {
    fill: currentColor;
    transition: opacity 1s;
  }
  
  [score-display-back] {
    fill: currentColor;
    opacity: 0.3;
    transition: opacity 1s;
  }
  
  [score-display-ring] {
    stroke: currentColor;
    stroke-width: 4;
    stroke-dashoffset: 0;
    stroke-dasharray: 50.24;
    fill: transparent;
    transition: opacity 1s;
  }
  
  [score-display-check] {
    fill: currentColor;
    opacity: 0;
    transition: opacity 1s;
  }
  
  &.score-display-complete {
    svg {
      transform: rotate(0deg);
    }
    
    [score-display-disk], [score-display-ring] {
      opacity: 0;
    }
    [score-display-check] {
      opacity: 1;
    }
  }
}
