score-display {
  position: relative;
  display: block;
  order: 2;
  
  * { cursor: pointer; }
  
  svg {
    width: 3em;
    height: 3em;
    transform: rotate(-90deg); // This might not work in IE, because this is an inline SVG
    transition: transform 1s;
  }
  
  [score-display-text] {
    position: absolute;
    left: 51%;
    top: 48%;
    transform: translate(-45%, -50%);
    font-size: .75rem;
    color: black;
    
    span {
      font-size: .5em;
      vertical-align: .5em;
    }
  }
  
  [score-display-disk] {
    fill: currentColor;
    transition: opacity 1s;
  }
  
  [score-display-back],
  [score-display-ring] {
    stroke: currentColor;
    stroke-width: 3;
    stroke-dashoffset: 0;
    stroke-dasharray: 47.1; // This was determined by guess-and-check
    fill: transparent;
    transition: opacity 1s;
  }
  
  [score-display-back] {
    opacity: 0.2;
  }
  
  [score-display-check] {
    fill: currentColor;
    opacity: 0;
    transition: opacity 1s;
  }
  
  &.score-display-complete {
    svg {
      transform: rotate(0deg); // This might not work in IE, because this is an inline SVG
    }
    
    [score-display-disk], [score-display-ring], [score-display-text] {
      opacity: 0;
    }
    
    [score-display-check] {
      opacity: 1;
    }
  }
}
