.WelcomePopupContainer {
  
  p {
    margin: 0;
  }
  
  // These styles override the styles in the cd-hud component stylesheet
  cd-hud {
    position: static;
    display: inline-flex;
    margin: .6em 0 1em;
    border: 1px solid black;
    color: black;
    animation: none;
    pointer-events: none; // Safe
    
    * {
      cursor: default;
    }
  }
}
