// Remember: Keep this in sync with the svga-hud styles in SVGA
[svga-hud] {
  position: absolute;
  top: 2.8em;
  left: .4em;
  font-family: sans-serif;
  font-size: 10pt;
  overflow: visible;
  user-select: none;
  cursor: default;
}
