@font-face {
	font-family: 'Varela Round';
	src: url('varela-round.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Varela Round';
	src: url('varela-round.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
