html {
  font-family: 'Lato', sans-serif;
  background: white;
  font-size: 17px;
  line-height: 1.424; // MS 3, Minor Second (1.125:1)
  
  @media (min-width: 1000px) { font-size: 18px; }
  @media (min-width: 1100px) { font-size: 19px; }
  @media (min-width: 1250px) { font-size: 20px; }
  @media (min-width: 1450px) { font-size: 21px; }
  @media (min-width: 1700px) { font-size: 22px; }
  @media (min-width: 2000px) { font-size: 23px; }
  @media (min-width: 2350px) { font-size: 24px; }
  
  -webkit-tap-highlight-color: rgba(white, 0.1);
}
