html {
  font-family: 'Lato', sans-serif;
  background: white;
  
  @media (min-width: 900px) { font-size: 1.1em; }
  @media (min-width: 1200px) { font-size: 1.2em; }
  @media (min-width: 1500px) { font-size: 1.3em; }
  @media (min-width: 1800px) { font-size: 1.4em; }
  @media (min-width: 2200px) { font-size: 1.5em; }
  @media (min-width: 2800px) { font-size: 1.6em; }
  
  -webkit-tap-highlight-color: rgba(white, 0.1);
}
