cd-module {
  li + li {
    margin-top: 0.5em;
  }

  ul {
    list-style-type: square;
    
    ul {
      list-style-type: circle;
    }
  }

  ul, ol {
    margin: 0 auto;
    padding: .3em;
    padding-left: 1em;
    max-width: $maxLineLength;
    
    ul, ol {
      padding: 0 0 0 1em;
      
      li + li {
        margin-top: .2em;
      }
    }
  }

  ul ul,
  ol ol,
  ol ul,
  ul ol {
    margin: 0.5em 0; // This might be unnecessary due to margin collapsing
  }
}
