object {
  margin-left: auto;
  margin-right: auto;
  
  // These are experimental rules that might solve some problems
  // Introduced during v4.1
  width: 100vw;
  max-width: 100%;
  
  // This is also experimental — it might make SVGAs with backgrounds & control panels look more cohesive
  border-radius: 6px;
}
