cd-module {
  p {
    margin: 1em auto;
    line-height: 1.424; // MS 3, Minor Second (1.125:1)
  }
  
  cd-map p {
    margin: 0;
    line-height: normal;
  }

  cd-text-bubble p {
    line-height: normal;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}
