table {
  border-collapse: collapse;
  border: 3px solid $smoke;
}

th, td {
  padding: .4em .8em;
  border-left: 1px solid $smoke;
  &:first-child { border-left: none; }
}

th {
  background-color: $smoke;
  color: white;
}

tr:nth-child(odd) {
  background-color: hsl(218, 50%, 95%);
}

tr:nth-child(even) {
  background-color: hsl(218, 50%, 90%);
}
