cd-text-bubble {
	display: block;
	width: 100%;
	padding: 1em;
	border-radius: $border-radius * 2;
	background-color: $yellow;
	color: white;
	
	@media (max-width: $iPhoneLandscape) {
		border-radius: 0;
	}
}
