.dark {
	color: $turquois;
}

.light {
	color: white;
	text-shadow: 1px 1px $dk_grey;
	background-color: $lt_grey;
	padding: 0.25em;
	color: white;
}

.controls {
	font-size: 1em;
	color: $dk_grey;
}
