body[focus-mode] {

  // Hide non-focussed pages
  cd-page:not([focus-mode]) {
    display: none;
  }
  
  // Hide non-focussed mains and other top-level page items
  cd-page > :not([focus-mode]) {
    display: none;
  }
  
  // Remove the excess padding, so you can focus on the content
  cd-page, cd-main {
    padding-top: 1px;
    padding-bottom: 1px;
  }
  
  // Hide other gunk
  #title, #ending {
    display: none;
  }
}
