@font-face {
  font-family: "Lato";
  src: url("lato-thin-italic.woff2") format("woff2"),
       url("lato-thin-italic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

.lato-thin-italic { font-family: "Lato"; font-weight: 200; font-style: italic; }
