@font-face {
  font-family: "Lato";
  src: url("lato-medium-italic.woff2") format("woff2"),
       url("lato-medium-italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

.lato-medium-italic { font-family: "Lato"; font-weight: 500; font-style: italic; }
