@font-face {
  font-family: "Lato";
  src: url("lato-hairline.woff2") format("woff2"),
       url("lato-hairline.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

.lato-hairline { font-family: "Lato"; font-weight: 100; }
