// VARS ///////////////////////////////////////////////////////////////////////////////////////////

// SIZES
$maxPageWidth: 72rem;
$maxLineLength: 42rem;
$iPadLandscape: 1024px;
$iPadPortrait: 768px;
$iPhoneLandscape: 667px;
$iPhonePortrait: 375px;

// CD MODULE COLORS - deprecated
$dark-blue: #0045AF;
$light-blue: #0084AF;
$light-green: #99ff66;

// HYDRAULIC PRESSURE COLORS
$atmospheric-pressure: #00F;
$no-pressure: #00F;
$low-pressure: #FF0;
$medium-pressure: #F70;
$high-pressure: #F00;
$vacuum-pressure: #F0F;

// ELECTRICAL COLORS
$electric: #00DAFF;
$magnetic: #8D02FF;

// LBS COLORS
$white:  white;
$silver: hsl(210,  12%, 80%);
$grey:   hsl(210,   9%, 52%);
$smoke:  hsl(210,  12%, 26%);
$black:  black;

$red:    hsl(  2,  75%, 53%);
$orange: hsl( 25, 100%, 59%);
$yellow: hsl( 43, 100%, 50%);
$green:  hsl(130,  85%, 35%);
$blue: 	 hsl(223,  45%, 45%);
$indigo: hsl(270,  50%, 58%);
$violet: hsl(330,  55%, 50%);

$teal:   hsl(180, 100%, 29%);
$mint:   hsl(153,  80%, 41%);
$pink:   hsl(357, 100%, 75%);
$brown:  hsl( 23,  40%, 46%);
$navy:   hsl(235,  52%, 22%);
$maroon: hsl(359,  65%, 40%);

$transparent: transparent;
