cd-flow-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 1.7em;
  border-top: 1em solid transparent;
  border-left: 1.5em solid currentColor;
  border-bottom: 1em solid transparent;
  vertical-align: middle;
  text-align: left;
  
  &::before {
    content: "";
    display: inline-block;
    width: 1.7em;
    height: .8em;
    margin-left: -3.2em;
    margin-top: -.4em;
    vertical-align: top;
    background-color: currentColor;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
  }
}
