cd-page {
  display: block;
  padding: calc(#{4vw} + 1em) 0;
  
  & > :not(cd-main) {
    display: block;
    width: 100%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;

    &:not(.full) {
      width: $maxPageWidth;
      
      @media (max-width: $maxPageWidthPx) {
        width: 94vw;
      }
    }
  }
}

cd-page + cd-page {
  border-top: 1em solid hsl(220, 45%, 96%);
}
