cd-page {
  display: block;
  max-width: $maxPageWidth;
  margin: 0 auto;
  padding: 25vh 0;
  
  @media (max-width: $iPadLandscape) {
    padding: 10em 0;
  }
  
  &.standalone {
    padding: 0;
  }
}
