cd-page {
  display: block;
  padding: 5vw 0;
  
  &.standalone {
    // Hook for styles to apply to standalone content
  }
  
  & > img, & > iframe, & > video, & > object, & > cd-activity {
    display: block;
    width: 100%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    &:not(.full) {
      max-width: calc(#{$maxPageWidth} - 6vw);
      border: 3px solid $smoke;
    }
  }
}
