cd-text-bubble {
  display: block;
  max-width: $maxLineLength;
  margin: 1em auto;
  padding: 1em;
  background-color: $silver;
  text-align: center;
  
  @media (max-width: $iPhoneLandscape) {
    margin-left: -3vw;
    margin-right: -3vw;
    padding: 3vw;
    text-align: left;
  }
  
  em {
    color: inherit;
    font-style: italic;
  }
  
  p:first-child {
    margin-top: 0;
  }
  
  &.blue,
  &.dark-blue,
  &.green,
  &.indigo,
  &.light-blue,
  &.maroon,
  &.red { color: white; }
}
