center-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  
  & + center-block {
    margin-top: 2em;
  }
}
