.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

// Legacy
.center-text { text-align: center; }

// Convenience
left { display: block; text-align: left; }
center { display: block; text-align: center; }
right { display: block; text-align: right; }
