.button {
  // Customization:
  // text and borders: class="button white-text"
  // background: class="red button"
  
  display: inline-block;
  margin: 1em;
  padding: .6em .8em;
  border: 1px solid currentColor;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: $navy;
  cursor: pointer;
  user-select: none;
  
  &:hover {
    padding: calc(.6em - 1px) calc(.8em - 1px);
    border: 2px solid currentColor;
  }
  
  &:focus, &:active {
    padding: calc(.6em - 2px) calc(.8em - 2px);
    border: 3px solid currentColor;
  }
}
