cd-module {

  // This additional specificity makes it easier to override colors in cd-map-labels
  &, cd-map {
    
    // CD MODULE //////////////////////////////////////////////////////////////////////////////////////

    .cdig-blue { background-color: $cdig-blue; }
    .dark-blue { background-color: $dark-blue; }
    .light-blue { background-color: $light-blue; }
    .light-green { background-color: $light-green; }
    .off-white { background-color: $off-white; }
    .dark-white { background-color: $dark-white; }
    
    .cdig-blue-text { color: $cdig-blue; }
    .dark-blue-text { color: $dark-blue; }
    .light-blue-text { color: $light-blue; }
    .light-green-text { color: $light-green; }
    .off-white-text { color: $off-white; }
    .dark-white-text { color: $dark-white; }


    // DOMAIN COLORS //////////////////////////////////////////////////////////////////////////////
    // Note - these are text colors by default, and require "-bg" to be used as a background.
    
    .atmospheric-pressure { color: $atmospheric-pressure; }
    .no-pressure { color: $no-pressure; }
    .low-pressure { color: $low-pressure; }
    .medium-pressure { color: $medium-pressure; }
    .high-pressure { color: $high-pressure; }
    .vacuum-pressure { color: $vacuum-pressure; }
    .electric { color: $electric; }
    .magnetic { color: $magnetic; }

    .atmospheric-pressure-bg { background-color: $atmospheric-pressure; }
    .no-pressure-bg { background-color: $no-pressure; }
    .low-pressure-bg { background-color: $low-pressure; }
    .medium-pressure-bg { background-color: $medium-pressure; }
    .high-pressure-bg { background-color: $high-pressure; }
    .vacuum-pressure-bg { background-color: $vacuum-pressure; }
    .electric-bg { background-color: $electric; }
    .magnetic-bg { background-color: $magnetic; }


    // LBS ////////////////////////////////////////////////////////////////////////////////////////////

    .white  { background-color: $white; }
    .silver { background-color: $silver; }
    .grey   { background-color: $grey; }
    .smoke  { background-color: $smoke; }
    .black  { background-color: $black; }

    .red    { background-color: $red; }
    .orange { background-color: $orange; }
    .yellow { background-color: $yellow; }
    .green  { background-color: $green; }
    .blue   { background-color: $blue; }
    .indigo { background-color: $indigo; }
    .violet { background-color: $violet; }

    .navy   { background-color: $navy; }
    .maroon { background-color: $maroon; }
    .teal   { background-color: $teal; }
    .mint   { background-color: $mint; }
    .pink   { background-color: $pink; }
    .brown  { background-color: $brown; }

    .transparent { background-color: $transparent; }


    .white-text  { color: $white; }
    .silver-text { color: $silver; }
    .grey-text   { color: $grey; }
    .smoke-text  { color: $smoke; }
    .black-text  { color: $black; }

    .red-text    { color: $red; }
    .orange-text { color: $orange; }
    .yellow-text { color: $yellow; }
    .green-text  { color: $green; }
    .blue-text   { color: $blue; }
    .indigo-text { color: $indigo; }
    .violet-text { color: $violet; }

    .navy-text   { color: $navy; }
    .maroon-text { color: $maroon; }
    .teal-text   { color: $teal; }
    .mint-text   { color: $mint; }
    .pink-text   { color: $pink; }
    .brown-text  { color: $brown; }

    .transparent-text { color: $transparent; }
    
  }
}
