.caption {
  margin-top: .4em;
  margin-bottom: 1.2em;
  padding-top: .25em;
  border-top: 2px solid $off-white;
  text-align: center;
  color: $grey;
}

.caution {
  color: $red;
  font-weight: bold;
  font-style: normal;
}

.formula {
  display: inline-block;
  color: $blue;
  padding: 0 .2em;
  background: $off-white;
}

.framed {
  // By using outline, if the image ends up touching the edges of the screen, we don't have a weird border right at the edge, which looks ugly.
  outline: 3px solid $smoke;
  
  &.circle, &.oval {
    outline: none;
    border: 3px solid $smoke;
  }
}

.strike {
  text-decoration: line-through;
}
