$pointerSize: 1em;

.speech {
  position: relative;
  border-radius: .5em;
  background-color: currentColor;

  &.right { text-align: left }

  & > * { color: white; }

  &.benjamin   { color: $purple; }
  &.billy      { color: $blue; }
  &.dimitri    { color: $yellow; & > * { color: $black; } }
  &.frank      { color: #184933; }
  &.kevin      { color: #966731; }
  &.hank       { color: $navy; }
  &.jj         { color: $teal; }
  &.john       { color: $mint; }
  &.morty      { color: $orange; & > * { color: $black; } }
  &.nathan     { color: $smoke; }
  &.pat        { color: $green; }
  &.ruth       { color: $light-blue; }
  &.sophie     { color: #5c1e3a; }
  &.treebeard  { color: $brown; }

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: $pointerSize solid transparent;
  }

  &.left::after {
    left: 0;
    top: 50%;
    border-right-color: currentColor;
    border-left: 0;
    border-bottom: 0;
    margin-top: calc(-#{$pointerSize} / 2);
    margin-left: -$pointerSize;
  }

  &.right::after {
    right: 0;
    top: 50%;
    border-left-color: currentColor;
    border-right: 0;
    border-bottom: 0;
    margin-top: calc(-#{$pointerSize} / 2);
    margin-right: -$pointerSize;
  }

  &.top::after {
    top: 0;
    left: 50%;
    border-bottom-color: currentColor;
    border-top: 0;
    border-left: 0;
    margin-left: calc(-#{$pointerSize} / 2);
    margin-top: -$pointerSize;
  }

  &.bottom::after {
    bottom: 0;
    left: 50%;
    border-top-color: currentColor;
    border-bottom: 0;
    border-left: 0;
    margin-left: calc(-#{$pointerSize} / 2);
    margin-bottom: -$pointerSize;
  }
}

@media (max-width: $iPhoneLandscape) {
  cd-row .speech {
    order: -1;

    &.top::after,
    &.left::after,
    &.right::after,
    &.bottom::after {
      top: auto;
      right: auto;
      margin-right: 0;
      margin-top: 0;
      border: $pointerSize solid transparent;

      bottom: 0;
      left: 50%;
      border-top-color: currentColor;
      border-bottom: 0;
      border-left: 0;
      margin-left: calc(-#{$pointerSize} / 2);
      margin-bottom: -$pointerSize;
    }
  }
}
