#ending {
  padding: 0;
  background: hsl(227, 15%, 25%);
  
  cd-main {
    padding: 4vw;
    text-align: center;
  }
  
  h3 {
    display: inline-block;
    margin: 0;
    border: none;
    text-align: left;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.4;
    text-transform: uppercase;
    color: white;
  }
}
