#title {
  padding: 0;
  
  cd-main {
    max-width: $maxPageWidth;
    padding: 5vw 3vw 0;
    text-align: center;
  }
  
  h1 {
    display: inline-block;
    margin: 0;
    border: none;
    text-align: left;
    font-size: 5vw;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;

    @media (min-width: $maxPageWidth) {
      font-size: 3em;
    }
    
    @media (max-width: 500px) {
      font-size: 1.5em;
    }
  }
}
