#title {
  padding: 0;
  background: $smoke;
  
  cd-main {
    max-width: $maxPageWidth;
    padding: 4vw;
    text-align: center;
  }
  
  h1 {
    display: inline-block;
    margin: 0;
    border: none;
    text-align: left;
    font-size: 5vw;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;

    @media (min-width: $maxPageWidth) {
      font-size: 3.6em;
    }
    
    @media (max-width: 550px) {
      font-size: 1.7em;
    }
  }
}
